<!-- templates/base.html -->
<!DOCTYPE html>
<html>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.dunavant.com/sites/505/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://www.dunavant.com/sites/505/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.dunavant.com/sites/505/images/favicons/favicon-16x16.png">
  <title>{% block title %}Dunavant Purchasing{% endblock %}</title>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>