{% extends 'quoting_base.html' %}

{% block title %}Quotes Index{% endblock %}

{% block nav-links %}

    <a class="nav-link" href="{% url 'quoting:home' %}">Home</a>
    <a class="nav-link" href="{% url 'quoting:requests_index' %}">Requests</a>
    <a class="nav-link active" aria-current="page" href="{% url 'quoting:quotes_index' %}">Quotes</a>

{% endblock %}

{% block content %}

{% if latest_quote_list %}
    <div class="list-group">
        {% for quote in latest_quote_list %}
            <a href="{% url 'quoting:quote_detail' quote.id %}" class="list-group-item list-group-item-action">{{ quote.quote_name }}</a>
        {% endfor %}
    </div>
{% else %}
    <p>No quotes are available.</p>
{% endif %}

<form action="{% url 'quoting:home' %}">
    <button type="submit" class="my-4 btn btn-secondary">Back to Quote Management</button>
</form>

{% endblock %}