{% extends 'base.html' %}



{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            align-content: center;
        }
        a{
            color: blue;
            align-content: center;
            border:black
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <p ALIGN='center'>Welcome to the Equipment Request landing page!</p>
    <p ALIGN='center'>Click 
    <a ALIGN='center' href="/Request_form">
        Equipment Request Form
    </a>
    if you want to request new equipment
    </p>
    <p>A landing page</p>
    <img ALIGN='middle' src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.PCiU-EOANVW9vMIL1Y5mnAHaE8%26pid%3DApi&f=1"
    alt = "Landing Page"  height = "500" width = '270'/>
</body>
</html>
{%endblock%}