{% extends "inventoryentry/base.html" %}
{% block content %}
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<h1>
				Delete Logs
			</h1>
			<p>
				Are you sure you want to delete these logs?
			</p>
		</fieldset>

		<div class="form-group">
			<button type="submit" class="btn btn-outline-danger">
				Delete
			</button>
			<a href="{% url 'inventory:log-list' %}">
				<button type="button" class="btn btn-outline-secondary">
					Cancel
				</button>
			</a>
		</div>
	</form>
{% endblock content %}